.wrapper {
    margin: 0 2px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.2s;

    &:hover {
        color: rgba(254,255,255,0.8);
    }
    &.btn {
        margin: 0;
        width: 40px;
        height: 40px;
        .icon{
            font-size: 1.125rem;
        }
    }
}
.hide{
    display: none;
}

