.price-board-table{
    overflow-y: auto;
    flex: 1 1;
    .ag-theme-dark {
        -webkit-font-smoothing: antialiased;
        color: var(--ag-foreground-color,#ccc);
        font-family: "Helvetica Neue",sans-serif;
        font-size: 14px;
        line-height: normal;
        font-family: Roboto,sans-serif;
        font-size: .688rem;
        line-height: .875rem;
        background-color: var(--color-theme-primary);
        height: 100%;
        overflow: auto;
        .ag-layout-normal {
            height: 100%;
            flex: 1 1 auto;
            height: 0;
            min-height: 0;
            .ag-root-wrapper-body {
                display: flex;
                flex-direction: row;
                table{
                    border: .5px solid var(--color-theme-price-table-border);
                    width: 100%;
                    color: rgb(209, 209, 209) !important;
                    cursor: pointer;
                    font-weight: 600 !important;
                    thead{
                        position: sticky;
                        background-color: var(--color-theme-secondary);
                        top: -.5px;   
                    }
                    
                    th{
                        border: .5px solid var(--color-theme-price-table-border);
                        text-align: center;
                        padding: 8px 4px;
                        font-weight: 100;
                    }
                    td{
                        padding: 6px 0 !important;
                        text-align: center;
                        border: .5px solid var(--color-theme-price-table-border);   
                    }
                }
            }
        }
    }
}