/*=================================================================
  NAVIGATION
==================================================================*/
.navigation {
  transition: 0.3s all;
  background: #1f2532;
}
.navigation .navbar-nav > li.active a {
  color: #fff;
}
.navigation .navbar-nav > li > a {
  color: #707d8f;
  font-size: 18px;
  line-height: 26px;
  padding: 0 15px !important;
  transition: 0.2s ease-in-out 0s;
}
.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
  background: none;
  color: #31BB9E;
}
.navigation .navbar-toggler {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}
.navigation .nav .open > a {
  background: none;
}
.navigation .dropdown {
  padding: 0;
}
.navigation .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.navigation .dropdown .dropdown-item {
  padding: 8px 15px;
  color: #fff;
  font-size: 13px;
}
.navigation .dropdown .dropdown-item:hover {
  background: transparent;
  color: #31BB9E;
}
.navigation .dropdown .dropdown-menu {
  border-radius: 0;
  background-color: #000;
  display: block;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}
@media (max-width: 992px) {
  .navigation .dropdown .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    transform-origin: unset;
  }
}
.navigation .dropdown .dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
@media (max-width: 992px) {
  .navigation .dropdown .dropdown-menu.show {
    display: block;
  }
}

.navbar-brand {
  height: auto;
  padding: 8px 0;
  color: #31BB9E;
}
.navbar-brand img {
  width: 150px;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 25px;
}

.top-header {
  background: #000;
  padding: 10px 0;
  overflow: auto;
  white-space: nowrap;
}
.top-header::-webkit-scrollbar {
  height: 5px;
}
.top-header::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.top-header::-webkit-scrollbar-thumb {
  background-color: #252d34;
  outline: 2px solid #fff;
}

 :root {
  --color-text: 255,255,255;
  --global-primary-color: #4e81ff;
  --global-error-color: #ff818e;
  --global-ask-color: #e35e5e;
  --global-bid-color: #2ead65;
  --global-body-bg-color: #000;
  --global-content-bg-color: #131e30;
  --global-chart-bg-color: var(--global-content-bg-color);
  --global-header-bg-color: #040d14;
  --global-shadow: hsla(0,0%,100%,.08);
  --global-dropdown-bg-color: #172941;
  --global-modal-bg-color: #172941;
  --global-text-color: hsla(0,0%,100%,.45);
  --global-text-highlight-color: hsla(0,0%,100%,.85);
  --global-text-extremeHighlight-color: #fff;
  --inside-global-text-color: rgba(var(--color-text),0.45);
  --inside-global-text-highlight-color: rgba(var(--color-text),0.85);
  --inside-global-text-extremeHighlight-color: rgb(var(--color-text));
  --inside-global-text-75-color: rgba(var(--color-text),0.75);
  --inside-global-text-65-color: rgba(var(--color-text),0.65);
  --inside-global-text-45-color: rgba(var(--color-text),0.45);
  --inside-global-text-35-color: rgba(var(--color-text),0.35);
  --global-table-head-bg-color: transparent;
  --global-table-head-color: var(--global-text-color);
  --inside-global-table-text-color: var(--inside-global-text-highlight-color);
  --inside-global-table-head-color: var(--inside-global-text-45-color);
  --inside-global-table-border-color: rgba(var(--color-text),0.08);
  --inside-table-item-bg-hover: rgba(var(--color-text),0.04);
  --global-border-color: rgba(var(--color-text),0.12);
  --global-input-bg-color: rgba(var(--color-text),0.08);
  --global-input-disabled-bg-color: rgba(var(--color-text),0.2);
  --global-scrollbar-color: rgba(var(--color-text),0.08);
  --global-color-gray-light-bg: rgba(var(--color-text),0.35);
  --global-item-bg-hover-color: hsla(0,0%,100%,.08);
  --dark-theme-surface-01: #131e30;
  --dark-theme-surface-03: #040d14;
  --dark-theme-surface-04: #161a1e;
  --global-content-bg-color: #161a1e;
  --global-fontSize-body-XS: 14px;
  --global-lineHeight-body-XS: 1.57;
  --global-bid-color: #2ead65;
  --global-ask-color: #e35e5e;
  --global-text-highlight-color: hsla(0,0%,100%,.85);

  --color-light-primary: #ededed;
  --color-light-secondary: #fff;
  --color-light-tertiary: #f4f4f4;
  --color-light-explain: #f4f4f4;
  --color-light-invert: #e5e5e5;
  --color-light-highlight: #f4f4f4;
  --color-light-disabled: #ececee;
  --color-light-neutral: #f5f6f7;
  --color-light-overlay: rgba(0,0,0,.5803921568627451);
  --color-light-scroll: hsla(0,0%,66.7%,.5019607843137255);
  --color-light-crimson: #d32f2f;
  --color-light-buy: #1aa67c;
  --color-light-sell: #c9111f;
  --color-light-ref: #fdff12;
  --color-light-switch: #c7c7c7;
  --color-light-text-primary: #1e2329;
  --color-light-text-secondary: #8f8f8f;
  --color-light-text-tertiary: #1e2329;
  --color-light-text-explain: #c1c1c1;
  --color-light-text-invert: #fff;
  --color-light-text-highlight: #d32f2f;
  --color-light-text-up: #078c54;
  --color-light-text-down: #ff0017;
  --color-light-text-ceil: #be00be;
  --color-light-text-floor: #088db7;
  --color-light-text-ref: #e78b03;
  --color-light-text-stable: #1e2329;
  --color-light-text-pending: #d69000;
  --color-light-text-success: #2e8e43;
  --color-light-text-fail: #d32f2f;
  --color-light-text-cancel: #8f8f8f;
  --color-light-text-disabled: #c1c1c1;
  --color-light-flash-up: #01a77a;
  --color-light-flash-down: #c0002e;
  --color-light-flash-ceil: #fd02fd;
  --color-light-flash-floor: #0030cc;
  --color-light-flash-ref: #d69000;
  --color-light-flash-stable: #afafaf;
  --color-light-price-board-menu: #fff;
  --color-light-price-table-header: #f4f4f4;
  --color-light-price-table-border: #cacccd;
  --color-light-price-table-col-highlight: #e5e5e5;
  --color-light-price-table-row-odd: #fff;
  --color-light-price-table-row-even: #f4f4f4;
  --color-light-table-header: #fafafa;
  --color-light-table-row-odd: #fff;
  --color-light-table-row-even: #f4f4f4;
  --color-light-table-border: #dfe1e6;
  --color-light-input-border: #dfe1e6;
  --color-light-input-background: #fafbfc;
  --color-light-input-disabled: #e3e3e3;
  --color-light-tooltip-text-color: #1e2329;
  --color-light-tooltip-background: #e2e2e2;
  --color-light-dropdown-background: #fff;
  --color-light-dropdown-active: #f4f4f4;
  --color-light-panel-background: #fff;
  --color-light-toast-background-default: #f4f4f4;
  --color-light-toast-background-info: #009bde;
  --color-light-toast-background-success: #3fa885;
  --color-light-toast-background-warning: #f49f3b;
  --color-light-toast-background-error: #d32f2f;
  --color-classic-primary: #020210;
  --color-classic-secondary: #1c1a29;
  --color-classic-tertiary: #282637;
  --color-classic-explain: #292737;
  --color-classic-invert: #3d3950;
  --color-classic-highlight: #6c697b;
  --color-classic-disabled: #363645;
  --color-classic-neutral: #363645;
  --color-classic-overlay: rgba(0,0,0,.5803921568627451);
  --color-classic-scroll: hsla(0,0%,66.7%,.5019607843137255);
  --color-classic-crimson: #d32f2f;
  --color-classic-buy: #1aa67c;
  --color-classic-sell: #c9111f;
  --color-classic-ref: #141413;
  --color-classic-switch: #020210;
  --color-classic-text-primary: #c1c1c1;
  --color-classic-text-secondary: #eaecef;
  --color-classic-text-tertiary: #fff;
  --color-classic-text-explain: #dfe1e3;
  --color-classic-text-invert: #fff;
  --color-classic-text-highlight: #fff;
  --color-classic-text-up: #0bdf39;
  --color-classic-text-down: #ff0017;
  --color-classic-text-ceil: #f23aff;
  --color-classic-text-floor: #00c9ff;
  --color-classic-text-ref: #fdff12;
  --color-classic-text-stable: #dfe1e3;
  --color-classic-text-pending: #d69000;
  --color-classic-text-success: #0bdf39;
  --color-classic-text-fail: #ff0d0d;
  --color-classic-text-cancel: #969696;
  --color-classic-text-disabled: #737373;
  --color-classic-flash-up: #01a77a;
  --color-classic-flash-down: #c0002e;
  --color-classic-flash-ceil: #fd02fd;
  --color-classic-flash-floor: #0030cc;
  --color-classic-flash-ref: #d69000;
  --color-classic-flash-stable: #565759;
  --color-classic-price-board-menu: #292737;
  --color-classic-price-table-header: #1c1a29;
  --color-classic-price-table-border: #353641;
  --color-classic-price-table-col-highlight: #2a263c;
  --color-classic-price-table-row-odd: #05040e;
  --color-classic-price-table-row-even: #171225;
  --color-classic-table-header: #383644;
  --color-classic-table-row-odd: #282637;
  --color-classic-table-row-even: #1c1a29;
  --color-classic-table-border: #3f4160;
  --color-classic-input-border: #3f4160;
  --color-classic-input-background: #1c1a29;
  --color-classic-input-disabled: #45444f;
  --color-classic-tooltip-text-color: #fff;
  --color-classic-tooltip-background: #6c697b;
  --color-classic-dropdown-background: #3d3950;
  --color-classic-dropdown-active: #6c697b;
  --color-classic-panel-background: #282637;
  --color-classic-toast-background-default: #282637;
  --color-classic-toast-background-info: #009bde;
  --color-classic-toast-background-success: #3fa885;
  --color-classic-toast-background-warning: #f49f3b;
  --color-classic-toast-background-error: #d32f2f;
  --color-oled-primary: #020210;
  --color-oled-secondary: #282828;
  --color-oled-tertiary: #303030;
  --color-oled-explain: #3f3f3f;
  --color-oled-invert: #646464;
  --color-oled-highlight: #898989;
  --color-oled-disabled: #404245;
  --color-oled-neutral: #404245;
  --color-oled-overlay: rgba(0,0,0,.5803921568627451);
  --color-oled-scroll: hsla(0,0%,66.7%,.5019607843137255);
  --color-oled-crimson: #d32f2f;
  --color-oled-buy: #1aa67c;
  --color-oled-sell: #c9111f;
  --color-oled-ref: #fdff12;
  --color-oled-switch: #020210;
  --color-oled-text-primary: #c1c1c1;
  --color-oled-text-secondary: #eaecef;
  --color-oled-text-tertiary: #fff;
  --color-oled-text-explain: #dfe1e3;
  --color-oled-text-invert: #fff;
  --color-oled-text-highlight: #fff;
  --color-oled-text-up: #0bdf39;
  --color-oled-text-down: #ff0d0d;
  --color-oled-text-ceil: #fd02fd;
  --color-oled-text-floor: #52d3f9;
  --color-oled-text-ref: #fdff12;
  --color-oled-text-stable: #d6d6d6;
  --color-oled-text-pending: #d69000;
  --color-oled-text-success: #0bdf39;
  --color-oled-text-fail: #ff0d0d;
  --color-oled-text-cancel: #969696;
  --color-oled-text-disabled: #737373;
  --color-oled-flash-up: #01a77a;
  --color-oled-flash-down: #c0002e;
  --color-oled-flash-ceil: #fd02fd;
  --color-oled-flash-floor: #0030cc;
  --color-oled-flash-ref: #d69000;
  --color-oled-flash-stable: #565759;
  --color-oled-price-board-menu: #3f3f3f;
  --color-oled-price-table-header: #282828;
  --color-oled-price-table-border: #3b3d41;
  --color-oled-price-table-col-highlight: #303030;
  --color-oled-price-table-row-odd: #05040e;
  --color-oled-price-table-row-even: #05040e;
  --color-oled-table-header: #434343;
  --color-oled-table-row-odd: #282828;
  --color-oled-table-row-even: #313131;
  --color-oled-table-border: #3a3a3a;
  --color-oled-input-border: #4d5259;
  --color-oled-input-background: #282828;
  --color-oled-input-disabled: #424242;
  --color-oled-tooltip-text-color: #fff;
  --color-oled-tooltip-background: #737373;
  --color-oled-dropdown-background: #505050;
  --color-oled-dropdown-active: #737373;
  --color-oled-panel-background: #313131;
  --color-oled-toast-background-default: #303030;
  --color-oled-toast-background-info: #009bde;
  --color-oled-toast-background-success: #3fa885;
  --color-oled-toast-background-warning: #f49f3b;
  --color-oled-toast-background-error: #d32f2f;
  --inside-global-text-highlight-color: rgba(var(--color-text),0.85);
  color-scheme: dark!important;
  --color-theme-primary: var(--color-classic-primary);
  --color-theme-secondary: var(--color-classic-secondary);
  --color-theme-tertiary: var(--color-classic-tertiary);
  --color-theme-explain: var(--color-classic-explain);
  --color-theme-invert: var(--color-classic-invert);
  --color-theme-highlight: var(--color-classic-highlight);
  --color-theme-disabled: var(--color-classic-disabled);
  --color-theme-neutral: var(--color-classic-neutral);
  --color-theme-overlay: var(--color-classic-overlay);
  --color-theme-scroll: var(--color-classic-scroll);
  --color-theme-crimson: var(--color-classic-crimson);
  --color-theme-buy: var(--color-classic-buy);
  --color-theme-sell: var(--color-classic-sell);
  --color-theme-ref: var(--color-classic-ref);
  --color-theme-switch: var(--color-classic-switch);
  --color-theme-buy-highlight: var(--color-classic-buy-highlight);
  --color-theme-sell-highlight: var(--color-classic-sell-highlight);
  --color-theme-ref-highlight: var(--color-classic-ref-highlight);
  --color-theme-text-primary: var(--color-classic-text-primary);
  --color-theme-text-secondary: var(--color-classic-text-secondary);
  --color-theme-text-tertiary: var(--color-classic-text-tertiary);
  --color-theme-text-explain: var(--color-classic-text-explain);
  --color-theme-text-invert: var(--color-classic-text-invert);
  --color-theme-text-highlight: var(--color-classic-text-highlight);
  --color-theme-text-up: var(--color-classic-text-up);
  --color-theme-text-down: var(--color-classic-text-down);
  --color-theme-text-ceil: var(--color-classic-text-ceil);
  --color-theme-text-floor: var(--color-classic-text-floor);
  --color-theme-text-ref: var(--color-classic-text-ref);
  --color-theme-text-stable: var(--color-classic-text-stable);
  --color-theme-text-pending: var(--color-classic-text-pending);
  --color-theme-text-success: var(--color-classic-text-success);
  --color-theme-text-fail: var(--color-classic-text-fail);
  --color-theme-text-cancel: var(--color-classic-text-cancel);
  --color-theme-text-disabled: var(--color-classic-text-disabled);
  --color-theme-flash-up: var(--color-classic-flash-up);
  --color-theme-flash-down: var(--color-classic-flash-down);
  --color-theme-flash-ceil: var(--color-classic-flash-ceil);
  --color-theme-flash-floor: var(--color-classic-flash-floor);
  --color-theme-flash-ref: var(--color-classic-flash-ref);
  --color-theme-flash-stable: var(--color-classic-flash-stable);
  --color-theme-price-board-menu: var(--color-classic-price-board-menu);
  --color-theme-price-table-header: var(--color-classic-price-table-header);
  --color-theme-price-table-border: var(--color-classic-price-table-border);
  --color-theme-price-table-col-highlight: var(--color-classic-price-table-col-highlight);
  --color-theme-price-table-row-odd: var(--color-classic-price-table-row-odd);
  --color-theme-price-table-row-even: var(--color-classic-price-table-row-even);
  --color-theme-table-header: var(--color-classic-table-header);
  --color-theme-table-row-odd: var(--color-classic-table-row-odd);
  --color-theme-table-row-even: var(--color-classic-table-row-even);
  --color-theme-table-border: var(--color-classic-table-border);
  --color-theme-input-border: var(--color-classic-input-border);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

li{
  list-style-type:none
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #868e96;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .25rem 4rem;
}

.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}



@media (max-width: 991.99px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}

@media (max-width: 1199.99px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}


::-webkit-scrollbar {
	width: 4px ;
} 

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px #fff; 
}

.tippy-box[data-theme~='tomato'] {
  background-color: tomato !important;
  color: yellow !important;
  font-size: 12px;
  padding: .5px 8px;
  border-radius: 4px;
}
.tippy-box[data-theme~='table'] {
  background-color: #252d34;
  font-size: 12px;
  padding: .5px 8px;
  border-radius: 4px;
}