@import 'normalize.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #7200a1;
    --bg-main-color: #170f23;
    --bg-sidebar-left: #231b2e;
    --bg-sidebar-right: #120822;
    --bg-music-control: #120c1c;
    --navigation-text: #dadada;
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.5);
    --white-color: #fff;
    --black-color: #000;
    --border-color: rgba(255, 255, 255, 0.1);
    --link-text-hover: #c662ef;
    --active-Item: hsla(0,0%,100%,0.1);
    --hover-Item: rgba(0,0,0,0.1);
    --music-ctrl-height: 90px;
    --header-height: 70px;
    --sidebar-left-width: 90px;

    --offset-x-second: calc(0px - ((230px - (230px * var(--scale-rate-second))) / 2 + 20px));
    --offset-x-third: calc(0px - ((230px - (230px * var(--scale-rate-third))) / 2 + 40px));
    --scale-rate-second: calc(196 / 230);
    --scale-rate-third: calc(162 / 230);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--text-primary);
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    
    text-decoration: none;
}

.section-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: var(--text-primary);
    font-weight: 700;
    text-transform: capitalize;
}

.section-link {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-secondary);
    &:hover {
        color: var(--link-text-hover);
    }
}

