.container{
    padding:30px 100px;
    height: calc(100vh - 71px);
    border-color: var(--color-theme-primary);
    background-color: var(--color-theme-secondary);
    min-height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-width: .375rem;
    overflow: hidden;
    .row{
        display: flex;
        font-size: 1rem;
        
        .row_info{
            width: 20%;
            img{ border-radius: 4px; }
            div{ font-size: .75rem; margin: 12px 0;}
        }
        .row_update{
            flex: 1 1;
            padding: 0 50px;
            .form-group{
                border: 0.1px solid rgba(128, 128, 128, 0.473);
                border-radius: 4px;
                padding: 4px 12px;
                display: flex;
                margin-top: 20px;
                cursor: pointer;
                label{
                    color: #c1c1c1;
                    font-size: 0.813rem;
                }
                input{
                    margin: 0px 12px;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .row_update-btn{
                margin-top: 20px;
                .row_update-save{
                    border: none;
                    padding: 8px 20px;
                    background-color: var(--color-theme-buy);
                    border-radius: 4px;
                    color: var(--global-text-extremeHighlight-color);
                }
            }
        }
        .row_history{
            flex: 1 1;
        }
    }
}
//color
.violet{
    color: var(--color-theme-text-ceil);
}
.blue{
    color: var(--color-theme-text-floor);
}
.yellow{
    color: var(--color-theme-text-ref);
}
.green{
    color: var(--color-theme-text-up);
}
.red{
    color: var(--color-theme-text-down);
}