.skeleton {
    display: block;
}

.skeleton-icon {
    display: flex;
    justify-content: space-between;
    width: 160px;   
    opacity: 0.8;
    margin: 100px 0 80px 0;
}

.skeleton-icon-content{
    display: flex;
    justify-content: space-between;
    width: 160px;   
    opacity: 0.8;
    margin: 4px 0;
}

.content{
    width: 100%;
    text-align: center;
    margin-top: 12px ;
}
.margin{
    margin:  0 10px;
}
.margin_4{
    margin:  0 4px;
}
.margin_5{
    width: 100%;;
}



