.search-nav {
    display: flex;
    margin-bottom: 20px;
}
.mar-r-10 {
    margin-right: 10px!important;
}
.zm-dropdown {
    position: relative;
}

.zm-dropdown .zm-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 999px;
    background-color: hsla(0,0%,100%,0.1);
    padding: 10px 15px;
    line-height: 1;
    font-size: 12px;
    min-width: 120px;
    color: #fff;
}

.zm-dropdown .zm-dropdown-trigger .icon {
    font-size: 16px;
}

.icon {
    line-height: 66%;
    display: inline-block;
}

.mar-r-5 {
    margin-right: 5px!important;
}

.zm-dropdown .dropdown-button {
    line-height: 1;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.zm-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}
button, optgroup, select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, input, optgroup, select, textarea {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}
.zm-dropdown .dropdown-name {
    margin-right: 20px;
}



//b
.zm-dropdown-content {
    padding: 5px;
    border-radius: 8px;
    background-color: #432275;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    width: max-content;
    min-width: 100%;
    position: absolute;
    z-index: 99;
    top: calc(100% + 1px);
    left: -60px;
    max-width: 400px;
}

div, p {
    word-break: break-word;
}

.zm-dropdown-list-item {
    font-size: 12px;
    border-radius: 4px;
    line-height: 1;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 50%;
    float: left;
}

.zm-dropdown-list-item:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,0.1);
}

.zm-dropdown-content:before {
    content: "";
    clear: both;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #432275;
    position: absolute;
    left: 15px;
    top: -8px;
}