.container {
    display: flex;
    height: calc(100vh - var(--music-ctrl-height));
    background-color: var(--bg-main-color);
    &.container-full {
        height: 100vh;
    }
}

.main-container {
    position: relative;
    padding: 0 59px;
    background-color: var(--bg-main-color);
    overflow-y: overlay;
    z-index: 100;
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 99px;
    }
}

.page {
    margin-top: var(--header-height);
}

