
.item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
}

.nav-link{
    color: #707d8f;
    font-size: 18px;
    line-height: 26px;
    padding: 0 15px!important;
    transition: .2s ease-in-out 0s;
}

.item a{
    display: block;
    padding: 15px 0;
}

.item .action{
    color: #fff;
}

.item a:hover{
    text-decoration: none;
    background: none;
    color: #31bb9e;
}