
@import "Scss/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "Scss/mixin";

* {
  -webkit-font-smoothing: antialiased;
}



.galleryButton {
    position: absolute;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: black;
    bottom: 40%;
    background-color: rgba($color: white, $alpha: 0.3);
    opacity: 1;
    &.btn1 {
        left: -10px;
    }
    &.btn2 {
        right: -10px;
    }
  }


  .khamPhaContent {
    position: relative;
  }

  
  .gallery-content {
    position: relative;
    height: calc(18vw - 117px);
  }

  .itemGallary {
    width: 33.3%;
    position: absolute;
    img {
      border-radius: 25px;
    }
  }

  .show1 {
    transform: translateX(0);
    transition: 0.7s all;
  }
  .show2 {
    transform: translateX(100%);
    transition: 0.7s all;
  }
  .show3 {
    transform: translateX(200%);
    transition: 0.7s all;
  }
  .hide1 {
    transform: translateX(20%);
    transition: 0.7s all;
    opacity: 0;
  }
  .hide2 {
    transform: translateX(100%);
    transition: 0.7s all;
    opacity: 0;
  }
  .hide3 {
    transform: translateX(120%);
    transition: 0.7s all;
    opacity: 0;
  }



