.wrapper {
    margin: 0 2px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.2s;

    &.active {

        .icon {
            display: none;
        }
        .active-icon{
            display: block;
            color: var(--primary-color);
        }
    }

    &.activeNoColor {
        &.hover {
            background-color: var(--primary-color);
        }
        .icon {
            color: var(--white-color);
        }
    }

    &:hover {
        background-color: var(--border-color);
    }

    &.hover {
        background-color: var(--border-color);
    }

    &.square {
        border-radius: 4px;
    }
    
    &.s14 {
        .icon{
            font-size: 0.875rem;
        }
    }
    &.s18 {
        .icon{
            font-size: 1.125rem;
        }
    }
    &.btn {
        margin: 0;
        width: 40px;
        height: 40px;
        .icon{
            font-size: 1.125rem;
        }
    }
    &.s20 {
        width: 36px;
        height: 36px;
        .icon {
            font-size: 1.25rem;
        }
    }
    &.s24 {
        width: 40px;
        height: 40px;
        .icon {
            font-size: 1.5rem;
        }
    }
}

.icon, .active-icon {
    font-size: 1rem;
    color: var(--white-color);
}

.active-icon {
    display: none;
}