.wrapper {
    padding: 3px;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.2s;

    &:hover {
        background-color: var(--border-color);
    }

    &.noHover {
        background-color: var(--border-color);
    }

    &.square {
        border-radius: 4px;
    }
}

.isActive .icon {
    color: var(--primary-color);
}

.isActive.activeNoColor.wrapper  {
    background-color: var(--primary-color);
    .icon {
        color: var(--white-color);
    }
}

.icon {
    font-size: 1rem;
    color: var(--white-color);
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.s14 {
        font-size: 0.875rem;
    }
    &.s18 {
        font-size: 1.125rem;
    }
    &.s20 {
        font-size: 1.25rem;
    }
    &.s24 {
        font-size: 1.5rem;
        width: 34px;
        height: 34px;
    }
}