.container{
    border-color: var(--color-theme-primary);
    background-color: var(--color-theme-secondary);
    min-height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-width: .375rem;
    height: calc(100vh - 71px);
    padding: 20px 400px;
    .text{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.625rem;
        margin-bottom: 1rem;
    }

    .line_button{
        display: flex;
        justify-content: space-between;
        padding: 20px 0 8px 0;
        color: rgb(114, 114, 114);
        font-size: .875rem;
        color: #fff;
        .orange{
            padding: 16px 24px;
            background-color: orangered;
            border-radius: 4px;
        }
        .green{
            padding: 16px 24px;
            background-color: green;
            border-radius: 4px; 
        }
    }
    
    .line{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: 300;
        line-height: 1.25rem;
        font-size: .875rem;
        .line-name{
            width: 40%;
            margin-top: .5rem;
        }
        .right{
            margin-top: .5rem;
            flex: 1 1;
            text-align: right;
        }
        input{
            background-color: transparent;
            border: none;
            width: 100%;
            border: 0.1px solid rgba(128, 128, 128, 0.473);
            border-radius: 4px;
            padding: 8px;
            flex: 1 1;
            &:focus {
                outline: none;
            }
        }
    }
}