.wrapper {
    padding-top: 64px;
}

.heading {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--white-color);

    .icon-play {
        margin-left: 14px !important;
    }
}

.playlist-wrapper {
    margin-top: 32px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--white-color);
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .icon {
        margin-left: 4px;
    }
}

.list-playlist {
    display: flex;
    margin-left: -14px;
    margin-right: -14px;
    flex-wrap: wrap;
}

.nav-wrapper {
    margin: 30px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    min-height: 52px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 40px;
    display: block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
    }

    &:hover {
        .nav-title {
            color: var(--text-primary);
        }
    }

    &.active {
        &::after {
            background-color: var(--primary-color);
        }
        .nav-title {
            color: var(--text-primary);
        }
    }
}

.nav-title {
    padding: 15px 0;
    color: var(--navigation-text);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav-btn {
    display: inline-block;
    color: var(--white-color);
    font-size: 12px;
    font-weight: 400;
    padding: 4px 10px;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 999px;
    margin-bottom: 20px;

    &:hover {
        color: var(--link-text-hover);
        border-color: var(--primary-color);
    }
    &.active {
        color: var(--white-color);
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.library-song {
    margin-left: -10px;
}

.lib-header {
    height: 46px;
    border-bottom: 1px solid var(--border-color);
    user-select: none;
}

.media {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.media-left {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 50%;
    margin-right: 10px;
    .lib-heading {
        margin-left: 25px;
    }
}

.media-content {
    flex: 1 1 auto;
}

.media-right {
    margin-left: 10px;
    flex: 0 0 auto;
}

.lib-heading {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);
    text-transform: uppercase;
}

.song-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    &:hover {
        background-color: var(--border-color);
    }

    &>i {
        font-size: 12px;
        color: var(--text-secondary);
        margin-right: 4px;
    }

    .time {
        display: block;
        font-size: 12px;
        padding: 0 8px;
        color: var(--text-secondary);
    }
}

.navbar-wrap {
    margin: 0 -59px 30px;
    padding: 0 59px;
    border-bottom: 1px solid var(--border-color);
}

.navbar-container {
    display: flex;
    align-items: center;
    min-height: 52px;

    .title {
        flex-shrink: 0;
        font-size: 24px;
        margin: 0;
        padding-right: 20px;
        border-right: 1px solid var(--border-color);
        text-transform: none;
        line-height: normal;
        color: var(--text-primary);
    }

    .navbar-item {
        display: block;
        margin: 0 20px;
        padding: 15px 0;
        color: var(--white-color);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        position: relative;

        &.active {
            &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            border-bottom: 2px solid var(--primary-color);
            }
        }
    }
}

.empty-playlist {
    width: 100%;
    color: var(--white-color);
    cursor: pointer;
    padding-bottom: calc(100% + 45px);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    font-size: 15px;
    position: relative;
    &:hover {
        color: var(--link-text-hover);
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        i {
            display: inline-block;
            font-size: 40px;
            margin-bottom: 15px;
        }
    }
}