.wrapper {
    position: relative;
    padding: 13px 10px;
    background-color: #432275;
    z-index: 10;
    color: var(--text-primary);
    height: auto;
    overflow: hidden;

    &.suggest {
        top: -10px;
        border-radius: 0 0 20px 20px;
    }
    &.menu {
        border-radius: 8px;
        padding: 10px 0;
        z-index: 90;
    }
}