.wrapper {
    position: relative;
    padding: 13px 10px;
    background-color: var(--color-theme-input-border);
    z-index: 10;
    color: var(--text-primary);
    height: auto;
    overflow: hidden;

    &.suggest {
        top: -4px;
        left: 3px;
        border-radius: 0 0 4px 4px;
    }
    &.menu {
        border-radius: 8px;
        padding: 10px 0;
        z-index: 90;
    }
}