.wrapper {
    background-color: hsla(0, 0%, 100%, 0.05);
    height: 452px;
    min-width: 252px;
    width: 392px;
    border-radius: 16px;
    padding: 20px 10px;
    margin-right: 28px;
    position: relative;

    .content {
        display: flex;
        align-items: flex-start;
        font-size: 24px;

        h2 {
            padding: 0 0 10px 40px;
            font-weight: 700;
        }

        i {
            margin: 0 0 0 5px;
            font-size: 12px;
            transform: translateY(2px);
            color: #fff;
            background-color: #7200a1;
            border-radius: 999px;
            border: 10px solid #7200a1;
        }
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 60px;
    cursor: pointer;

    .music-rank {
        display: flex;
        align-items: center;

        img {
            height: 40px;
            width: 40px;
            margin-right: 10px;
        }

        i {
            display: none;
            position: relative;
            left: -35px;
        }

        .music-details {
            width: 12vw;
            p {
                font-size: 14px;
                line-height: 18.2px;
                color: #fff;
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* số dòng hiển thị */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;
            }

            a {
                font-size: 12px;
                color: hsla(0, 0%, 100%, 0.5);
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* số dòng hiển thị */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;
            }
        }

        .num {
            font-size: 32px;
            font-weight: 900;
            width: 30px;
            color: rgba(74, 144, 226, 0);
            -webkit-text-stroke: 1px #ffffff;
            opacity: 1;

            display: inline-block;
            text-align: center;
            line-height: 1;
            margin-right: 5px;
            font-family: 'Roboto', sans-serif;
        }

        .line {
            border-top: 2px solid #ffffff80;
            width: 12px;
            margin-right: 15px;
        }
    }

    p {
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 12px;
    }

    .music-hover {
        display: flex;
        align-items: center;
        justify-content: center;

        .music-hover-icon {
            display: none;

            span {
                display: none;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                padding: 6px;
                margin: 0 4px;
                letter-spacing: 1px;
                font-weight: 800;
                background-color: transparent;

                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.1);
                    border-radius: 50%;
                }

                &:hover i {
                    display: block;
                }
            }
        }
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    &:hover .music-rank i {
        display: block;
    }

    &:hover .music-hover .music-hover-icon {
        display: flex;
    }

    &:hover .music-hover p {
        display: none;
    }

    &:hover .music-details {
        width: 12vw;
    }
}

.all-items {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
        border-radius: 999px;
        border: 1px solid #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        text-align: center;
        color: #fff;
        padding: 8px 25px;

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.1);
        }
    }
}

