.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        .action {
            visibility: visible;
        }
        background-color: var(--border-color);
    }
    &.noHover {
        .action {
            visibility: visible;
        }
        &:hover {
            background-color: transparent;
        }
    }
    &.active {
        background-color: var(--primary-color);
    }
    &.largeCd {
        padding: 0;
        .cd{
            width: 64px;
            height: 64px;
        }
    }
    &.largeContent .media-content{
        max-width: 255px;
    }
}

.cd {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
}

.cd-thumb {
    width: 100%;
    height: auto;
}

.media-content {
    overflow: hidden;
    text-align: left;
    max-width: 240px;
}

.song-name {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-primary);
    line-height: 1.36;
    &.nowrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.singer-name {
    font-size: 12px;
    margin-top: 2px;
    color: var(--text-secondary);
}

.action {
    margin-left: 10px;
    display: flex;
    visibility: hidden;
}