.wrapper {
    min-height: 30px;
    max-width: 100%;
    border-radius: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    
    &:hover {
        background-color: var(--active-Item);
        .items {
            display: none;
        }
        .hover-items {
            display: flex;
        }
    }
    &.isActive {
        background-color: var(--border-color);
    }
}

.media {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.media:hover{
    z-index: 100;
}

.media-left {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 50%;
    margin-right: 10px;

    .prefix {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 700;
        color: var(--text-secondary);

        .num,
        .num-1,
        .num-2,
        .num-3 {
            font-size: 32px;
            font-weight: 900;
            color: rgba(74, 144, 226, 0);
            -webkit-text-stroke: 1px #ffffff;
            opacity: 1;
            min-width: 38px;
            width: 60px;
            display: inline-block;
            text-align: center;
            line-height: 1;
            margin-right: 5px;
            font-family: 'Roboto', sans-serif;
        }
        .num {
            opacity: 0.7;
        }
        .num-1 {
            -webkit-text-stroke: 1px #4a90e2;
        }

        .num-2 {
            -webkit-text-stroke: 1px #50e3c2;
        }

        .num-3 {
            -webkit-text-stroke: 1px #e35050;
        }
    }
}

.rank-status {
    width: 18px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);

    .line {
        display: block;
        border-top: 2px solid #ffffff80;
        width: 12px;
        margin: 0 3px;
    }

    .status-icon {
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 18px;

        &.icon-down {
            color: #e35050;
        }
        &.icon-up {
            color: #1dc186;
        }
    }

    .status-num {
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 12px;
    }
    
}

.thumb-wrap {
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
}

.thumb-img {
    width: 40px;
    height: 40px;
    position: relative;
}

.thumb-img_playbutton{
    position: absolute;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-infor {
    width: 100%;
}

.song-name {
    flex-grow: 1;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.3;
    max-width: 100%;
    color: var(--text-primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.singer-name {
    margin-top: 2px;
    color: var(--text-secondary);
}

.media-content {
    flex: 1 1 auto;
}

.album-infor {
    max-width: 100%;
    color: var(--text-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.media-right {
    margin-left: 10px;
    flex: 0 0 auto;
}

.items {
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 12px;
        color: var(--text-secondary);

        &:not(.duration) {
            margin: 0 4px;
        }
    }

    .duration {
        width: 44px;
    }
}

.hover-items {
    display: none;
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 12px;
        margin: 0 4px;
    }
}