.wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    padding: 0 59px;
    min-width: 660px;
    height: var(--header-height);
    background-color: var(--bg-main-color);
    z-index: 99;
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.direct-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 20px;
    color: var(--white-color);
    opacity: 0.3;
    cursor: default;
}

.search {
    width: 100%;
    max-width: 540px;
}

.right {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}