.wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    padding: 0 59px;
    min-width: 660px;
    height: var(--header-height);
    background-color: transparent;
    z-index: 99;
}

.wrapper2 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    padding: 0 59px;
    min-width: 660px;
    height: var(--header-height);

    background-color: var(--bg-main-color);

    z-index: 99;
}       


.transparent {
    background-color: transparent;
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-start;
    align-items: center;
}

.direct-btn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 20px;
    color: var(--white-color);
    opacity: 0.3;
    cursor: default;
}

.search {
    width: 100%;
    max-width: 540px;
}

.right {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.user-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

//chude
.modal-theme {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-tap-highlight-color: transparent;
}

.open {
    display: block;
}
.close {
    display: none;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 900px;
    max-height: 100%;
    min-height: 500px;
    border-radius: 8px;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    background-color: #432275;
}

.modal__close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 34px;
    height: 34px;
    font-weight: 100;
    cursor: pointer;
}

.modal__close-btn:hover {
    opacity: 0.8;
}

.close__btn-icon {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 2.2rem;
    color: #fff;
    -webkit-text-stroke: 1px var(--primary-bg);
}

.theme__header {
    width: 100%;
    padding: 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.theme__header-title {
    margin: 0;
    width: 100%;
    height: 36px;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 3.6rem;
    color: #fff;
    margin-top: -10px;
}

.theme__content {
    width: 100%;
    height: 500px;
    padding: 0 30px;
    overflow: hidden overlay;
    overscroll-behavior: contain;
    will-change: scroll-position;
}

.theme__content::-webkit-scrollbar {
    width: 5px;
    z-index: 10;
}

/* Track */
.theme__content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

/* Handle */
.theme__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--modal-scrollbar);
}

/* Handle on hover */
.theme__content::-webkit-scrollbar-thumb:hover {
    background: #555;
}


