.top_header{
    position: fixed;
    z-index: 3;
    margin-top: -90px;
    width: 100%;
}
.items_header{
    font-size: 16px !important;
    &:hover{
        text-decoration: none;
    }
    span {
        margin: 0 8px;
    }
    i{
       margin-left: 20px; 
    }
}

