.skeleton {
    display: flex;
    justify-content: space-between;
    div {
        margin-left: 10px;
    }
}

.skeleton-icon {
    display: flex;
    justify-content: space-between;
    width: 160px;    
}

