



.section {
    margin-bottom: 30px;
}

.section-title {
    margin-bottom: 16px;
    font-size: 20px;
    color: var(--text-primary);
    font-weight: 700;
    text-transform: capitalize;
}

.list-playlist {
    display: flex;
    margin: 0 -14px;
    flex-wrap: wrap;
}