.wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-theme-input-border);
    border-radius: .25rem;
    background-color: var(--color-theme-input-background);
    border-width: 1px;
    font-size: .813rem;
    width: 100%;
    min-height: 2rem;
    margin: 8px 0;
    input{
        padding-bottom: 2px;
        padding-right: 18px;
        width: 95%;
        height: 100%;
        font-size: 0.875rem;
        color: #eee;
        caret-color: var(--white-color);
        background-color: transparent;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.search-result {
    width: 312px;
}

.search-btn {
    font-size: 12px;
    padding: 0 10px;
    color: var(--navigation-text);
    cursor: pointer;
}

.clear {
    color: var(--navigation-text);
    margin: 0 10px;
}

.search-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color);
    padding: 0 10px 8px;
}

.search-key {
    cursor: pointer;
    &:hover {
        color: var(--link-text-hover);
    }
    i {
        color: var(--text-primary);
        margin-right: 10px;
    }
}

.suggest-list {
    max-height: min((100vh - 90px) - 90px, 734px);
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 99px;
    }
}

.suggest-item {
    font-size: 14px;
    padding: 8px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
        span {
            color: var(--link-text-hover);
        }
        background-color: var(--border-color);
    }
    i {
        color: var(--text-primary);
        margin-right: 10px;
    }
}

.result-item {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: var(--border-color);
    }
}

.cd {
    width: 52px;
    height: 52px;
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
}

.cd-thumb {
    width: 100%;
    height: auto;
}





