.main-wrapper {
    height: calc(100vh - 72px);
    width: 100%;
    position: relative;
    color: var(--color-light-secondary);
    .home-page{
        display: flex;
        flex-direction: column;
        height: 100%;
        .section-price-board{
            position: relative;
            height: 100%;
            flex: 1 1;
            overflow-y: auto;
            .price-board-wrapper{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                .price-board-header{
                    background-color: var(--color-theme-price-board-menu);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-left: .5rem;
                    padding-right: .5rem;
                    font-size: .75rem;
                    .search{
                        .input-group{
                            position: relative;
                        }
                    }                   
                    .price-board-menu-root{
                        display: flex;
                        flex: 1 1;
                        justify-content: flex-start;
                        overflow: hidden;
                        margin: 0 1rem !important;
                        min-height: 36px;
                        align-items: center;
                        overflow-x: auto;    
                        color: var(--color-theme-text-primary);                  
                        .menu_items{
                            position: relative;
                            margin: 0;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            padding: .5rem .6rem;
                            flex-shrink: 0;
                            cursor: pointer;
                            border-width: 2px;
                            border-color: transparent; 
                            line-height: 1rem;
                        }
                    }
                    .price-board-menu-root::-webkit-scrollbar{
                        display: none;
                    }
                    .space-x-2{
                        display: flex;
                        --tw-space-x-reverse: 0;
                        margin-right: calc(0.5rem*var(--tw-space-x-reverse));
                        margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));                   
                        align-items: center;
                        i{
                            cursor: pointer;
                        }
                        .left_icon{
                            margin-left: .5rem;
                            padding: 0.5rem;
                            cursor: pointer;
                        }
                        .left_botton{
                            margin-left: .5rem;
                            padding: 0.5rem;
                            background-color: var(--color-theme-buy);
                            font-weight: 500;
                            border-radius: 4px;
                            cursor: pointer;
                            .button_buy{
                                text-align: center;
                            }
                        }  
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px){
   .search { width: 14rem; } 
   .button_buy{ width: 7rem; }
}
