.trades{
    padding-bottom: 24px;
    .area-title {
        color: var(--global-text-highlight-color);
        font-weight: 600;
        padding: 16px 20px 10px;
        margin-bottom: 8px;
        box-shadow: 0 1px 0 var(--global-shadow);
        font-size: var(--global-fontSize-body-XS);
        line-height: var(--global-lineHeight-body-XS);   
    }
    .area-thead {
        display: flex;
        padding: 4px 14px 8px 16px;
        gap: 4px;
        font-size: 14px !important;
        font-weight: 400;
        .item-td {
            flex: 1 1 0%;
            color: var(--inside-global-text-color);
        }
        .a-right {
            text-align: right;
        }

        @media (min-width: 961px){
            .item-td {
                white-space: nowrap;
            }
        }
        
    }
    .area-tbody {
        height: 312px;
        overflow-y: overlay;
        padding: 0;
        margin-right: 4px;
        color: var(--global-text-highlight-color);
        font-size: var(--global-fontSize-body-XS);
        line-height: var(--global-lineHeight-body-XS);   
        .item-tr {
            display: flex;
            padding: 2px 14px 2px 16px;
            gap: 8px;
            .c-up {
                color: var(--global-bid-color);
            }
            .c-down{
                color: var(--global-ask-color);
            }
            .a-right {
                text-align: right;
            }
        }
    }
}

@media screen and (min-width: 961px){
    .trades { grid-area: j; }
}   