.wrapper {
    position: absolute;
    background-color: var(--global-content-bg-color);
    z-index: 1;
    color: var(--text-primary);
    height: 350px;
    overflow: auto;
    margin: center;
    &.suggest {
        top: calc(-10vh + 10vh);
        left: 70vh;
        display: flex;
        border-radius: 2px 2px 2px 2px;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}